@use "../frame.scss";
@use "../flag.scss";
@use "../flag-patterns.scss";

@include frame.frame;
@include flag.flag;
@include flag-patterns.pattern6;

.flag.-ptn6 {
    background-color: #FFF;
  }

.pattern6.-left {
  background-color: #bc002d;
}

.pattern6.-right {
  background-color: #bc002d;
}
