@use '../frame.scss';
@use '../flag.scss';

@include frame.frame-s12;
@include flag.flag-to;

.to.-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 41.666%;
    height: 50%;
  
    background-color: #fff;
  }
  
  .to.-vertical {
    width: 15%;
    height: 25%;
  
    background-color: #c10000;
  }
  
  .to.-horizontal {
    width: 45%;
    height: 25%;
  
    background-color: #c10000;
  }