@use "../frame.scss";
@use "../flag.scss";
@use "../flag-patterns.scss";

@include frame.frame;
@include flag.flag;
@include flag-patterns.pattern1;

.ae {
    width: 75%;
    height: 33.333%;
  }
  
  .ae.-top {
    background-color: #009739;
  }
  
  .ae.-middle {
    background-color: #fff;
  }
  
  .ae.-bottom {
    background-color: #000;
  }