.frame {
  display: flex;

  border: 2px solid black;
  border-radius: 4px;
}

@mixin frame {
  .frame.-s11 {
    height: 360px;
    width: 360px;
  }

  .frame.-s1125 {
    height: 288px;
    width: 360px;
  }

  .frame.-s1132 {
    height: 272.72px;
    width: 360px;
  }

  .frame.-s1137 {
    height: 262.77px;
    width: 360px;
  }

  .frame.-s1142 {
    height: 253.52px;
    width: 360px;
  }

  .frame.-s115 {
    height: 241px;
    width: 360px;
  }

  .frame.-s116 {
    height: 225px;
    width: 360px;
  }

  .frame.-s12 {
    height: 180px;
    width: 360px;
  }
}