@use "navigation.scss";

@mixin header {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #00ad74;
  }

  @include navigation.navigation-header;
}
