@mixin level {
  .level {
    display: flex;
    align-items: center;

    margin: 20px 0px;
  }

  .level.-a::after {
    content: url("../../assets/images/star.png");
  }
  .level.-b::after {
    content: url("../../assets/images/star2.png");
  }
  .level.-c::after {
    content: url("../../assets/images/star3.png");
  }
  .level.-d::after {
    content: url("../../assets/images/star4.png");
  }
  .level.-e::after {
    content: url("../../assets/images/star5.png");
  }
}
